<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 
	public String insert(Map<?,?> map);
	public List<?> selectAll(Command cmd); 
	public List<?> selectByName(Command cmd);
	public StudentDTO selectById(Command cmd);
	public String count();
	public String update(Command cmd);
	public String delete(Command cmd);
	public MemberDTO login(Command cmd);
	
	method 이름이 id 이름과 동일해야 한다.
	return이 returntype과 같은 역활이다.
	#{}의 역활은 model 2에서 사용한 ?와 같은 역할은 한다. 따라서 싱글쿼터가 포함되어 있다.
	${}은 싱글쿼터가 포함되어 있지 않다.
	 -->
  
<mapper namespace="com.gms.web.mapper.MemberMapper">

<insert id="insert" parameterType="com.gms.web.member.Member">
<!-- 	insert into member(
		member_id,
		name,
		password,
		ssn,
		regdate,
		phone,
		email,
		profile
	)
	values(
		#{memberId},
		#{name},
		#{password},
		#{ssn},
		now(),
		#{phone},
		#{email},
		#{profile}
	) -->
</insert>

<select id="count" resultType="string">
	<!-- select count(*) as count from member -->
</select>

<select id="login" resultType="com.gms.web.member.Member" parameterType="com.gms.web.command.Command">
	<!-- 아스타를 찍지말고 컬럼명을 하나씩 다 적어주는게 유지보수에 좋다. -->
	<!-- select member_id, name, password, ssn, regdate, phone, email, profile from member where member_id like #{search} -->
</select>

<select id="selectSome" resultType="com.gms.web.member.Student" parameterType="com.gms.web.command.Command">
	<!-- select k.*
	from (SELECT @rownum:=@rownum+1 AS num,t.* from student t, (select @rownum:=0) b) k 
	where num between #{startRow} and #{endRow} -->
</select>


<select id="selectOne" resultType="com.gms.web.member.Student" parameterType="com.gms.web.command.Command">
<!-- SELECT * 
from student
where id like '%${column}%' -->
</select>


<update id="update" parameterType="com.gms.web.member.Member">
	<!-- update Member set email = #{email} , phone = #{phone} where member_id like #{member_id} -->
</update>


<delete id="delete"  parameterType="com.gms.web.command.Command">
	<!-- delete mem,maj from member mem join major maj on mem.member_id like maj.member_id where mem.member_id like #{search} -->
</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>